<!-- first card -->
<div class="card-wrapper p-5">
  <div class="card border-0">
    <img src="../assets/images/Rectangle 11.png" class="card-img-top" alt="...">
    <div class="card-body ">
      <h3 class="card-title m-0">Rawai Beach Phuket</h3>
      <div class="d-flex align-items-center">
        <img src="../assets/images/Screenshot 2023-04-12 224509.png" alt="">
        <p class="card-text">Aviasales.ru Seaview Phuket office, Phuket, Thailand</p>
      </div>
      <div class="row mt-5 text-center">
        <div class="col-6">
          <h5 class="card-status-heading mb-0">Views</h5>
          <p class="card-status-desc">65,03,099</p>
        </div>
        <div class="col-6">
          <h5 class="card-status-heading mb-0">Downloads</h5>
          <p class="card-status-desc">23,991</p>
        </div>
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <button class="btn btn-primary flex-grow-1 ms-5 me-5">See Details</button>
      </div>
    </div>
  </div>
</div>


<!-- second card -->
<div class="card-2-wrapper">
  <div class="card mb-3">
    <div class="d-flex flex-column flex-md-row">
      <div class="card-part-1 p-5 ">
        <h6 class="card-2-heading">Course</h6>
        <h3 class="card-2-title mb-0 mt-3">Digital</h3>
        <h3 class="card-2-title">Marketing</h3>
        <div class="d-flex align-items-center">
          <p class="card-2-desc">See all chapters</p>
        <img class="mb-3 ms-1" src="../assets/images/Screenshot 2023-04-12 234543.png" alt="">
        </div> 
      </div>
      <div class="card-part-2">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

</div>